openapi: 3.1.0
info:
  title: GitHub API Connector
  version: 1.0.0
  x-airbyte-connector-name: github
  x-airbyte-external-documentation-urls:
    - type: api_reference
      title: GitHub REST API Documentation
      url: https://docs.github.com/en/rest
    - type: api_release_history
      title: GitHub REST API Release History
      url: https://docs.github.com/en/rest/about-the-rest-api/api-versions
    - type: migration_guide
      title: GitHub REST API Migration Guide
      url: https://docs.github.com/en/rest/about-the-rest-api/breaking-changes
    - type: rate_limits
      title: GitHub REST API Rate Limits
      url: https://docs.github.com/en/rest/using-the-rest-api/rate-limits-for-the-rest-api
    - type: authentication_guide
      title: GitHub REST API Authentication Guide
      url: https://docs.github.com/en/rest/authentication/authenticating-to-the-rest-api

servers:
  - url: https://api.github.com
    description: GitHub API Server

security:
  - githubOAuth: []

components:
  securitySchemes:
    githubOAuth:
      type: oauth2
      description: GitHub OAuth 2.0 authentication
      flows:
        authorizationCode:
          authorizationUrl: https://github.com/login/oauth/authorize
          tokenUrl: https://github.com/login/oauth/access_token
          scopes: {}

  schemas:
    Repository:
      type: object
      x-airbyte-resource-name: repositories
      description: GitHub repository object
      properties:
        # Core identifiers
        id:
          type: integer
          description: Unique identifier for the repository
        node_id:
          type: string
          description: GraphQL node ID
        name:
          type: string
          description: Repository name
        full_name:
          type: string
          description: Full name including owner (e.g., octocat/Hello-World)

        # Owner information
        owner:
          type: object
          description: Repository owner information
          properties:
            login:
              type: string
            id:
              type: integer
            node_id:
              type: string
            avatar_url:
              type: string
              format: uri
            gravatar_id:
              type: string
            url:
              type: string
              format: uri
            html_url:
              type: string
              format: uri
            followers_url:
              type: string
              format: uri
            following_url:
              type: string
              format: uri
            gists_url:
              type: string
              format: uri
            starred_url:
              type: string
              format: uri
            subscriptions_url:
              type: string
              format: uri
            organizations_url:
              type: string
              format: uri
            repos_url:
              type: string
              format: uri
            events_url:
              type: string
              format: uri
            received_events_url:
              type: string
              format: uri
            type:
              type: string
            site_admin:
              type: boolean

        # Basic properties
        private:
          type: boolean
          description: Whether the repository is private
        html_url:
          type: string
          format: uri
          description: GitHub URL for the repository
        description:
          type: ["string", "null"]
          description: Repository description
        fork:
          type: boolean
          description: Whether this is a fork

        # API URLs
        url:
          type: string
          format: uri
          description: API URL for the repository
        archive_url:
          type: string
          format: uri
        assignees_url:
          type: string
          format: uri
        blobs_url:
          type: string
          format: uri
        branches_url:
          type: string
          format: uri
        collaborators_url:
          type: string
          format: uri
        comments_url:
          type: string
          format: uri
        commits_url:
          type: string
          format: uri
        compare_url:
          type: string
          format: uri
        contents_url:
          type: string
          format: uri
        contributors_url:
          type: string
          format: uri
        deployments_url:
          type: string
          format: uri
        downloads_url:
          type: string
          format: uri
        events_url:
          type: string
          format: uri
        forks_url:
          type: string
          format: uri
        git_commits_url:
          type: string
          format: uri
        git_refs_url:
          type: string
          format: uri
        git_tags_url:
          type: string
          format: uri
        git_url:
          type: string
        issue_comment_url:
          type: string
          format: uri
        issue_events_url:
          type: string
          format: uri
        issues_url:
          type: string
          format: uri
        keys_url:
          type: string
          format: uri
        labels_url:
          type: string
          format: uri
        languages_url:
          type: string
          format: uri
        merges_url:
          type: string
          format: uri
        milestones_url:
          type: string
          format: uri
        notifications_url:
          type: string
          format: uri
        pulls_url:
          type: string
          format: uri
        releases_url:
          type: string
          format: uri
        ssh_url:
          type: string
        stargazers_url:
          type: string
          format: uri
        statuses_url:
          type: string
          format: uri
        subscribers_url:
          type: string
          format: uri
        subscription_url:
          type: string
          format: uri
        tags_url:
          type: string
          format: uri
        teams_url:
          type: string
          format: uri
        trees_url:
          type: string
          format: uri
        clone_url:
          type: string
          format: uri
        mirror_url:
          type: ["string", "null"]
          format: uri
        hooks_url:
          type: string
          format: uri
        svn_url:
          type: string
          format: uri

        # Repository metadata
        homepage:
          type: ["string", "null"]
          format: uri
        language:
          type: ["string", "null"]
          description: Primary programming language
        forks_count:
          type: integer
          description: Number of forks
        forks:
          type: integer
          description: Number of forks (duplicate of forks_count)
        stargazers_count:
          type: integer
          description: Number of stars
        watchers_count:
          type: integer
          description: Number of watchers
        watchers:
          type: integer
          description: Number of watchers (duplicate of watchers_count)
        size:
          type: integer
          description: Repository size in KB
        default_branch:
          type: string
          description: Default branch name (usually main or master)
        open_issues_count:
          type: integer
          description: Number of open issues
        open_issues:
          type: integer
          description: Number of open issues (duplicate of open_issues_count)

        # Features and settings
        is_template:
          type: boolean
          description: Whether this is a template repository
        topics:
          type: array
          items:
            type: string
          description: Repository topics/tags
        has_issues:
          type: boolean
          description: Whether issues are enabled
        has_projects:
          type: boolean
          description: Whether projects are enabled
        has_wiki:
          type: boolean
          description: Whether the wiki is enabled
        has_pages:
          type: boolean
          description: Whether GitHub Pages is enabled
        has_downloads:
          type: boolean
          description: Whether downloads are enabled
        has_discussions:
          type: boolean
          description: Whether discussions are enabled

        # Status flags
        archived:
          type: boolean
          description: Whether the repository is archived
        disabled:
          type: boolean
          description: Whether the repository is disabled
        visibility:
          type: string
          enum: [public, private, internal]
          description: Repository visibility

        # Timestamps
        pushed_at:
          type: ["string", "null"]
          format: date-time
          description: When the repository was last pushed to
        created_at:
          type: string
          format: date-time
          description: When the repository was created
        updated_at:
          type: string
          format: date-time
          description: When the repository was last updated

        # Permissions
        permissions:
          type: object
          description: User permissions for the repository
          properties:
            admin:
              type: boolean
            push:
              type: boolean
            pull:
              type: boolean

        # Merge settings
        allow_rebase_merge:
          type: boolean
          description: Whether rebase merges are allowed
        allow_squash_merge:
          type: boolean
          description: Whether squash merges are allowed
        allow_merge_commit:
          type: boolean
          description: Whether merge commits are allowed
        allow_auto_merge:
          type: boolean
          description: Whether auto-merge is allowed
        delete_branch_on_merge:
          type: boolean
          description: Whether branches are deleted after merge
        allow_forking:
          type: boolean
          description: Whether forking is allowed

        # Additional metadata
        subscribers_count:
          type: integer
          description: Number of subscribers
        network_count:
          type: integer
          description: Number of repositories in the network

        # License information
        license:
          type: ["object", "null"]
          description: Repository license information
          properties:
            key:
              type: string
            name:
              type: string
            url:
              type: ["string", "null"]
              format: uri
            spdx_id:
              type: ["string", "null"]
            node_id:
              type: string
            html_url:
              type: ["string", "null"]
              format: uri

        # Related repositories (for forks)
        parent:
          type: ["object", "null"]
          description: Parent repository (if this is a fork)
        source:
          type: ["object", "null"]
          description: Source repository (original repo if this is a fork)

        # Template repository
        template_repository:
          type: ["object", "null"]
          description: Template repository (if created from template)

        # Organization
        organization:
          type: ["object", "null"]
          description: Organization information (if owned by org)

        # Security settings
        security_and_analysis:
          type: ["object", "null"]
          description: Security and analysis settings
          properties:
            advanced_security:
              type: object
              properties:
                status:
                  type: string
            secret_scanning:
              type: object
              properties:
                status:
                  type: string
            secret_scanning_push_protection:
              type: object
              properties:
                status:
                  type: string

        # Temporary clone token (for private repos)
        temp_clone_token:
          type: ["string", "null"]

      required:
        - id
        - node_id
        - name
        - full_name
        - owner
        - private
        - html_url
        - fork

paths:
  /graphql:repositories:get:
    post:
      summary: Get a repository
      description: Gets information about a specific GitHub repository using GraphQL
      operationId: Repositories_Get
      x-airbyte-resource: repositories
      x-airbyte-verb: get
      x-airbyte-path-override:
        path: /graphql
      tags:
        - Repositories
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository (username or organization)
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: |
            Optional array of field names to select.
            If not provided, uses default fields.
          schema:
            type: array
            items:
              type: string
          example:
            [
              "id",
              "name",
              "nameWithOwner",
              "stargazerCount",
              "primaryLanguage { name }",
            ]

      requestBody:
        required: true
        description: GraphQL query is automatically constructed from parameters
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetRepository($owner: String!, $name: String!) {
              repository(owner: $owner, name: $name) {
                {{ fields }}
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
          default_fields: "id name nameWithOwner description url createdAt updatedAt pushedAt forkCount stargazerCount isPrivate isFork isArchived isTemplate hasIssuesEnabled hasWikiEnabled primaryLanguage { name } licenseInfo { name spdxId } owner { login avatarUrl } defaultBranchRef { name } repositoryTopics(first: 10) { nodes { topic { name } } }"

      responses:
        "200":
          description: Repository retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        description: Repository object with selected fields
        "404":
          description: Repository not found

  /graphql:repositories:list:
    post:
      summary: List repositories for a user
      description: Returns a list of repositories for the specified user using GraphQL
      operationId: Repositories_List
      x-airbyte-resource: repositories
      x-airbyte-verb: list
      x-airbyte-path-override:
        path: /graphql
      tags:
        - Repositories
      parameters:
        - name: username
          in: query
          required: true
          description: The username of the user whose repositories to list
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: fields
          in: query
          required: false
          description: |
            Optional array of field names to select.
            If not provided, uses default fields.
          schema:
            type: array
            items:
              type: string
          example:
            [
              "id",
              "name",
              "nameWithOwner",
              "stargazerCount",
              "primaryLanguage { name }",
            ]

      requestBody:
        required: true
        description: GraphQL query is automatically constructed from parameters
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListRepositories($login: String!, $first: Int!) {
              user(login: $login) {
                repositories(first: $first) {
                  nodes {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            login: "{{ username }}"
            first: "{{ per_page }}"
          default_fields: "id name nameWithOwner description url createdAt updatedAt pushedAt forkCount stargazerCount isPrivate isFork isArchived isTemplate hasIssuesEnabled hasWikiEnabled primaryLanguage { name } licenseInfo { name spdxId } owner { login avatarUrl } defaultBranchRef { name } repositoryTopics(first: 10) { nodes { topic { name } } }"

      responses:
        "200":
          description: List of repositories
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          repositories:
                            type: object
                            properties:
                              nodes:
                                type: array
                                description: Array of repository results
                                items:
                                  type: object
                                  description: Repository object with selected fields
        "404":
          description: User not found

  /graphql:repositories:
    post:
      summary: Search GitHub repositories using GraphQL
      description: |
        Search for GitHub repositories using GitHub's powerful search syntax.
        Examples: "language:python stars:>1000", "topic:machine-learning", "org:facebook is:public"
      operationId: Repositories_Search
      x-airbyte-resource: repositories
      x-airbyte-verb: search
      x-airbyte-path-override:
        path: /graphql
      tags:
        - Search
      parameters:
        - name: query
          in: query
          required: true
          description: |
            GitHub repository search query. Examples:
            - "language:python stars:>1000"
            - "topic:machine-learning"
            - "org:facebook is:public"
          schema:
            type: string
          example: "language:python stars:>1000"
        - name: limit
          in: query
          required: false
          description: Number of results to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: fields
          in: query
          required: false
          description: |
            Optional array of field names to select.
            If not provided, uses default fields.
          schema:
            type: array
            items:
              type: string
          example:
            [
              "id",
              "name",
              "nameWithOwner",
              "stargazerCount",
              "primaryLanguage { name }",
            ]

      requestBody:
        required: true
        description: GraphQL query is automatically constructed from parameters
        x-airbyte-body-type:
          type: graphql
          query: |
            query SearchRepositories($searchQuery: String!, $first: Int!) {
              search(query: $searchQuery, type: REPOSITORY, first: $first) {
                repositoryCount
                nodes {
                  ... on Repository {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            searchQuery: "{{ query }}"
            first: "{{ limit }}"
          default_fields: "id name nameWithOwner description url createdAt updatedAt pushedAt forkCount stargazerCount isPrivate isFork isArchived isTemplate hasIssuesEnabled hasWikiEnabled primaryLanguage { name } licenseInfo { name spdxId } owner { login avatarUrl } defaultBranchRef { name } repositoryTopics(first: 10) { nodes { topic { name } } }"

      responses:
        "200":
          description: Repository search results retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      search:
                        type: object
                        properties:
                          repositoryCount:
                            type: integer
                            description: Total number of repositories matching the query
                          nodes:
                            type: array
                            description: Array of repository results
                            items:
                              type: object
                              description: Repository object with selected fields
